body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #28211f;
	font-weight: 400;
}

h1, p {
	margin: 0;
	padding: 0;
}

.site-wrapper {
	position: relative;
	width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btn {
	display: inline-block;
	padding: 15px 60px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid #fff;
}

.btn:hover,
.btn:focus {
	color: #f5d76e;
	border-color: #f5d76e;
}

.btn-light {
	color: #fff;
}

.btn-dark {
	color: #28211f;
	border-color: #28211f;
}

input[type="radio"] {
	display: none;
}

[class*="title"] {
	font-family: 'Playfair Display', 'Times New Roman', serif;
	font-weight: 700;
}

.header {
	min-height: 700px;
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url('../img/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
	        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.site-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	padding-top: 35px;
	padding-bottom: 35px;
	margin-bottom: 220px;
	background-color: rgba(0, 0, 0, 0.35);
}

.header-logo {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 1;
}

.site-nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.list-left {
	margin-left: 410px;
}

.list-right {
	margin-right: 330px;
}

.site-nav-item {
	margin-right: 15px;
}

.site-nav-link {
	font-family: 'Playfair Display', 'Times New Roman', serif;
	font-size: 16px;
	line-height: 28px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
}

.site-nav-link:hover,
.site-nav-link:focus {
	color: #f5d76e;
}

.intro {
	margin-left: 168px;
	padding-bottom: 95px;
}

.intro-title {
	margin-bottom: 40px;
	font-size: 48px;
	line-height: 28px;
	color: #f5d76e;
}

.intro-text {
	width: 450px;
	margin-bottom: 30px;
	color: #fff;
}

.promo-title {
	margin-bottom: 40px;
	font-size: 32px;
	text-align: center;
}

.promo-text {
	width: 745px;
	margin: 0 auto;
	text-align: center;
}

.text-important {
	font-weight: 700;
	text-decoration: underline;
}

.section {
	position: relative;
	margin-top: 70px;
	padding-bottom: 130px;
}

.section::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	display: block;
	width: 39px;
	height: 39px;
	background: url('../img/coffee-icon.png');
}

.section-title {
	margin-bottom: 60px;
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
}

.section-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.menu-item {
	width: 400px;
}

.menu-item-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 300px;
	height: 1px; /* IE */
	margin-bottom: 60px;
	background-size: cover;
	background-position: 50% 50%;
	-webkit-box-shadow: inset 0 0 0 300px rgba(236, 236, 236, 0.7);
	        box-shadow: inset 0 0 0 300px rgba(236, 236, 236, 0.7);
}

.menu-item-bottom {
	margin-bottom: 50px;
}

.coffee {
	background-image: url('../img/coffee.jpg');
}

.tea {
	background-image: url('../img/tea.jpg');
}

.dessert {
	background-image: url('../img/dessert.jpg');
	-webkit-box-shadow: inset 0 0 0 300px rgba(245, 215, 110, 0.7);
	        box-shadow: inset 0 0 0 300px rgba(245, 215, 110, 0.7);
}

.menu-item-title {
	font-size: 40px;
	text-transform: uppercase;
	margin: auto;
}

.price-table {
	margin: 0 auto;
}

.item-1 {
	line-height: 28px;
	font-weight: 700;
}

.item-2 {
	line-height: 28px;
}

.price-table .item-1 {
	padding-right: 100px;
}

.shedule .item-1 {
	padding-right: 15px;
}

.menu-btn {
	margin: 0 auto;
}

.comment-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.comment-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 458px;
	padding: 100px 30px;
	margin-left: auto;
	background-color: #39312f;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
}

.comment-item img {
	border-radius: 50%;
}

.comment-wrap::before {
	content: "";
	display: block;
	width: calc(100% - 458px);
	background-image: url('../img/comment-bg-1.jpg');
	background-size: cover;
}

.comment-author {
	font-family: 'Playfair Display', 'Times New Roman', serif;
	font-size: 20px;
	font-weight: 700;
	color: #f5d76e;
}

.text-comment {
	width: 300px;
	color: #fff;
	text-align: center; 
}

.slider-controlls {
	margin: 30px auto;
	margin-bottom: 0;
}

.slider-controlls label {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border: 1px solid #fff;
	border-radius: 50%; 
	cursor: pointer;
}

.slider-controlls label:hover,
.slider-controlls label:focus {
	background-color: #fff;
}

.info {
	width: 458px;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 33px;
	background-color: #f5d76e;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.info-title {
	margin: 0;
	margin-top: 33px;
	margin-bottom: 17px;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
}

.map {
	width: calc(100% - 458px);
}

.map-section {
	margin-top: 70px;
	margin-bottom: 15px;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 90px;
	padding-bottom: 120px;
	background-color: #39312f;
}

.footer-text {
	margin: 0;
	padding: 0;
	font-weight: 700;
	color: #fff;
}

.social {
	margin-bottom: 30px;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 25px;
	height: 25px;
	margin-right: 25px;
}

.social-btn:last-child {
	margin-right: 0;
}

.social-btn:hover .icon-color,
.social-btn:focus .icon-color {
	fill: #f5d76e;
}

.top-btn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 15px;
	width: 50px;
	height: 50px;
	background-color: transparent;
	background-image: url('../img/arrow-top.svg');
	background-size: contain;
	border: none;
	cursor: pointer;
	z-index: 99;
}

.top-btn:hover,
.top-btn:focus {
	opacity: 0.8;
}
